* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: hsl(210, 46%, 95%);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

main {
  position: relative;
  width: 85%;
  margin: 5rem auto;
}