* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: hsl(210, 46%, 95%);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

main {
  position: relative;
  width: 85%;
  margin: 5rem auto;
}

@media screen and (min-width: 767px) {
  main {
    display: grid;
    grid-template-columns: 290px 430px;
    justify-content: center;
    width: 700px;
    margin: 10rem auto;
  }
}

@media screen and (min-width: 969px) {
  main {
    width: 800px;
  }
}

@media screen and (min-width: 1300px) {
  main {
    margin: 15rem auto;
  }
}